@font-face {
  font-family: 'satisfyregular';
  src: url('fonts/satisfy-regular-webfont.woff2') format('woff2'),
       url('fonts/satisfy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'arapeyregular';
src: url('fonts/arapey-regular-webfont.woff2') format('woff2'),
     url('fonts/arapey-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'arapeyitalic';
src: url('fonts/arapey-italic-webfont.woff2') format('woff2'),
     url('fonts/arapey-italic-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'radleyitalic';
src: url('fonts/radley-italic-webfont.woff2') format('woff2'),
     url('fonts/radley-italic-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'radleyregular';
src: url('fonts/radley-regular-webfont.woff2') format('woff2'),
     url('fonts/radley-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

body {
    background-color:#f2f2f2;
}

/* Name at the top of the page */
#name {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 56px;
    font-weight: normal;
    font-family: 'satisfyregular';
    cursor: default;
}

/* Login button */
#loginbtn{
  margin-left: 90%;
  border: 2px solid black;
  border-radius: 8px;
  padding: 7px;
  text-decoration: none;
  background-color: black;
  color: white;
}

/* Logo pic under the name */
#logo {
  padding-top: 20px;
  text-align: center;
}

/* The navigation bar */
.menu {
  padding-top: 5%;
  text-align: center;
  font-size: 18px;
}
.menu a {
  color: black;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
.menu a:visited {text-decoration: none; color: black;}
.menu #currentpage {
  color: rgb(248, 114, 241);
}
.menu a:hover {text-decoration: none; color: rgb(248, 114, 241);}

div.footer {
  margin-left: 20%;
  }
  
  p.loc {
    font-family: 'radleyitalic';
    text-align: right;
    padding-right: 10%;
    font-size: 22px;
    opacity: 0.7;
    cursor: default;
  }